<!doctype html>

<html lang="jp">
<head>
  <meta charset="utf-8">

  <title> -- Sinatra 時間割スケジューラー -- </title>
  <meta name="author" content="miketa_webprgr">
  <meta name="description" content="Sinatraを使って時間割スケジューラーを作ってみた">
  <meta name="keywords" content="時間割,スケジューラー,時間管理,日程作成">

  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
<h2>時間割スケジューラー</h2>


    <table>
        <tr>
            <td>月曜日</td>
            <td>Title1</td>
        </tr>
        <tr>
            <td>火曜日</td>
            <td>Title2</td>
        </tr>
        <tr>
            <td>水曜日</td>
            <td>Title3</td>
        </tr>
        <tr>
            <td>木曜日</td>
            <td>Title4</td>
        </tr>
        <tr>
            <td>金曜日</td>
            <td>Title5</td>
        </tr>
        <tr>
            <td>土曜日</td>
            <td>Title6</td>
        </tr>
        <tr>
            <td>日曜日</td>
            <td>Title7</td>
        </tr>
    </table>

<a href="/scheduler_form">時間割を作成する</a>

</body>
</html>